<mat-toolbar class="toolbar">
    
  <button mat-icon-button aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>

     
       <div class="rightnavbuttons">
       <button mat-icon-button aria-label="Home">
        <mat-icon>home</mat-icon>
      </button>
       <button mat-icon-button aria-label="Settings">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button aria-label="More">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

   </mat-toolbar>