/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; zfont-family: 'Courier New', Courier, monospace; background-color:whitesmoke; }

h1 {
    font-size: 24px; /* Example font size for headings */
  }
  
  p {
    font-size: 16px;
    zfont-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Example font size for paragraphs */
  }